{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <img src="" class="mt-3" alt="Logo ">
        </div>
        <h1 class="text-center mb-5 ">Modifier votre mot de passe</h1>
        <div class="bloc-beige col-8 offset-2 justify-content-center">
            <div class="row justify-content-center">
                <div class="col-8">
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
            </div>
            </div>
        <div class="row justify-content-center">
            <button class="btn base-btn">Valider</button>
            {{ form_end(form) }}
        </div>
        </div>
    </div>
{% endblock %}
