{% extends 'base.html.twig' %}
{% block body %}
    <h1>Hello</h1>

    <canvas id="myCanvas" width="500" height="500" style="border:1px solid #000000;">
    </canvas>
{% endblock %}
{% block javascripts %}
    <script src="js/emojiList.js"></script>
    <script src="js/canvasLogic.js"></script>
{% endblock %}