{% extends 'base.html.twig' %}
{% block body %}
    <h1>Hello</h1>
    <button id="createImage">create image</button>

    </canvas>
{% endblock %}
{% block javascripts %}
    <script src="js/nearestColor.js"></script>
    <script src="js/emojiList.js"></script>
    <script src="js/canvasLogic.js"></script>
{% endblock %}