@import "~bootstrap/scss/bootstrap";
@import "home";
@import "navbar";
@import "dragdrop";
@import "customset";

li {
  list-style-type: none;
}

a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}







