{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {% include '_navbar.html.twig' %}
    <div class="container-fluid content-row">
        <div class="row mt-5">
        {% for index, image in images %}
            <div class="col-6 col-md-4 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="gallery_card_container mx-auto">
                <div class="card mx-auto text-center gallery_card">
                    <a href="#url"><img class="card-img-top gallery_card_img rounded" src="convert-uploads/{{ image.name }}" alt="some_emoji_image"></a>
                    <div class="card-body">
                        <div class="gallery_card_title_container">
                            <h2 class="card-title gallery_card_title mb-4"><span class="fa fa-external-link mr-1"></span><a href="#url">{{ image.commonName }}</a></h2>
                            <div class="gallery_card_list_container">
                                <ul class="p-0">
                                    <li>author : {{ image.author }}</li>
                                    <li>Tea</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}