<nav class="navbar navbar-expand-sm navbar_bg justify-content-end">
    <a class="navbar-brand" href="#">Home</a>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a class="btn_fixed ml-auto mr-1" href="{{ path('logout') }}">Logout</a>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
        <a class="btn_fixed ml-auto mr-1" href="{{ path('app_login') }}">Login</a>
    {% endif %}
    <div>&nbsp&nbsp</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
            <li class="nav-item active">
                <a class="nav-link" href="#">Right Link 1</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Right Link 2</a>
            </li>
        </ul>
    </div>
</nav>