<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Emojifier{% endblock %}</title>
    {% block stylesheets %}

    {% endblock %}
</head>
<body>
{% block header %}
{% endblock header %}
{% block body %}

{% endblock %}
{% block javascripts %}

{% endblock %}
{% block footer %}
{% endblock footer %}
</body>
</html>
